body {
    background-color: #fbf8e5;
    color: #6e7d9e;
    font-family: monospace, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #080607;
    color: #a5b7c5;
    padding: 10px 20px;
}

header > h1 {
    letter-spacing: 5px;
}

article > h2 {
    font-weight: bolder;
}

article > h2::before {
    content: "\002329";
    color: #f9c989;
}

article > h2::after{
    content: "\00232a";
    color: #f9c989;
}

footer {
    background-color: #a5b7c5;
    padding: 5px 10px;
}